.navbar-default {
  color: seashell;
  background-color: saddlebrown;
}

.navbar-default .navbar-brand {
  color: saddlebrown;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: peru;
}

